<h2>Hey <%= current_user.email %>!!</h2>

<p> <% current_user.carted_books.all.each do |carted_book| %>
    <p><%= carted_book.book.title %></p>
    <p><% @order.subtotal += carted_book.book.price * carted_book.quantity.to_f %></p>
  <% end %>
</p>

<p><% @order.tax %></p>
<p>Your subtotal is: $<%= @order.subtotal %></p>
<p><%= (@order.subtotal * 0.07).round(2) %></p>